# Ignore Mac system files
.DS_store
.dSYM

# Ignore all csv files
*.csv

# Ignore all png files
# *.png
*.html

# Ignore all text files
*.txt
*.bin
*.h5
*.keras
*data/
*videos/
*models/

# Ignore specific file
test.mp4

# Ignore all executable files
*.o
*.out

# Ignore jupyter checkpoints
*.ipynb_checkpoints
*.ipynb

# Ignore all json file
*.json